extends ../template.pug

block append styles
  link(rel="stylesheet", href=`${locals.css}/index.css`)
      
block append scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src=`${locals.js}/index.js`)

block content
  include partials/mlh-badge.pug
  .wrapper
    section.section.main.columns.is-gapless
        .column.is-8-widescreen.content-wrap
          .content
            .title
              span.letter H
              span.letter a
              span.letter c
              span.letter k
              span.letter F
              span.letter.five 5
              span.letter U
              
            .form          
              .selection
                .label I want to be a &hellip;
                .buttons
                  span: a(name="hacker") Hacker
                  span: a(name="volunteer") Volunteer
                  span: a(name="sponsor") Sponsor
                  
              input#email(type="email", placeholder="My Email Is ...")
              .submit
                button#submit-button
                  img(src=`${locals.img}/celebration.png`)
        .column.logo
          img(src=`${locals.img}/half.png`)
          
    div#98.modal
      .window
        .header
          img.icon(src=`${locals.img}/98.gif`)
          span UX Warning!
          .buttons
            button#closeX X
        .content
          center
            h3 
              b Whoah there buddy!
            p We see you're using IE which we all know isn't the easiest to develop on. Therefore to save time and manpower, we've taken the unanimous decision to not have formal support for IE. With that in mind, this is our formal warning to you, the user, that your experience on this site will be experimental and full of bugs. Nonetheless, feel free to continue at your own risk. -HackFSU Crew
            br 
            button#closeBtn I Agree
  
    footer.footer
      .container
        .content.has-text-centered
          p: a#code-of-conduct(href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf") MLH Code of Conduct
      
